<script>
	document.addEventListener('DOMContentLoaded', function(){
		Typed.new('#typed', {
			stringsElement: document.getElementById('typed-strings')
		});
	});
</script>
<div class="intro">
	<div id="typed-strings">
    	<p>Hi 👋</p>
    	<p>My name is</p>
    	<p>Austen Myers.</p>
	</div>
<span id="typed"></span>
	<pre>{
	email: "austenmy@usc.edu",
	instagram: "@stentertainme.nt",
}
	</pre>
</div>